In [1]:
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
matplotlib.rcParams['savefig.dpi'] = 144

import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

import seaborn as sns
sns.set( style='white' )

import nltk
import os

In [2]:
df = pd.read_csv( 'scraped_data_clean.csv' )
df.head()

,Unnamed: 0,Brand,Price,Product_name,Rating,Review Votes,Reviews
0,0,Sony,599.99,Sony Xperia V LT25i Unlocked Phone 13MP Camera...,4,26,"I got one of these just for $#!*$ & giggles, n..."
1,1,Sony,599.99,Sony Xperia V LT25i Unlocked Phone 13MP Camera...,5,2,My favorite phone! Screw the iphone 6 I hate A...
2,2,Sony,599.99,Sony Xperia V LT25i Unlocked Phone 13MP Camera...,3,2,It's alright but the outdated software holds y...
3,3,Sony,599.99,Sony Xperia V LT25i Unlocked Phone 13MP Camera...,3,1,For the first week i loved the phone. had no i...
4,4,Sony,599.99,Sony Xperia V LT25i Unlocked Phone 13MP Camera...,5,1,This thing is what I needed so im please with ...

In [3]:
df = df.drop('Unnamed: 0', 1)
df.head()

,Brand,Price,Product_name,Rating,Review Votes,Reviews
0,Sony,599.99,Sony Xperia V LT25i Unlocked Phone 13MP Camera...,4,26,"I got one of these just for $#!*$ & giggles, n..."
1,Sony,599.99,Sony Xperia V LT25i Unlocked Phone 13MP Camera...,5,2,My favorite phone! Screw the iphone 6 I hate A...
2,Sony,599.99,Sony Xperia V LT25i Unlocked Phone 13MP Camera...,3,2,It's alright but the outdated software holds y...
3,Sony,599.99,Sony Xperia V LT25i Unlocked Phone 13MP Camera...,3,1,For the first week i loved the phone. had no i...
4,Sony,599.99,Sony Xperia V LT25i Unlocked Phone 13MP Camera...,5,1,This thing is what I needed so im please with ...

In [4]:
df.loc[:, 'Reviews_bw'] = ''
df.head()

,Brand,Price,Product_name,Rating,Review Votes,Reviews,Reviews_bw
0,Sony,599.99,Sony Xperia V LT25i Unlocked Phone 13MP Camera...,4,26,"I got one of these just for $#!*$ & giggles, n...",
1,Sony,599.99,Sony Xperia V LT25i Unlocked Phone 13MP Camera...,5,2,My favorite phone! Screw the iphone 6 I hate A...,
2,Sony,599.99,Sony Xperia V LT25i Unlocked Phone 13MP Camera...,3,2,It's alright but the outdated software holds y...,
3,Sony,599.99,Sony Xperia V LT25i Unlocked Phone 13MP Camera...,3,1,For the first week i loved the phone. had no i...,
4,Sony,599.99,Sony Xperia V LT25i Unlocked Phone 13MP Camera...,5,1,This thing is what I needed so im please with ...,

In [5]:
df.Reviews[5000]

'It is not a new version. In the page it says, new, but the phone is refurbished, not new, in my case backpanel is opened (probably for battery replace)'

In [5]:
df_test = pd.read_csv( 'data_bagofwords/2.csv' )
df_test = df_test.drop('Unnamed: 0', 1)
df_test.head()

,Brand,Price,Product_name,Rating,Review Votes,Reviews
0,Sony,0.0,"SONY XPERIA Z3 D6603 LTE 16GB 5.2"" GSM Unlocke...",1,0,not new version page says new phone refurbishe...
1,Sony,0.0,"SONY XPERIA Z3 D6603 LTE 16GB 5.2"" GSM Unlocke...",5,0,first smartphone two years great battery life ...
2,Sony,0.0,"SONY XPERIA Z3 D6603 LTE 16GB 5.2"" GSM Unlocke...",5,0,snappy performance great battery life great ca...
3,Sony,0.0,"SONY XPERIA Z3 D6603 LTE 16GB 5.2"" GSM Unlocke...",1,1,touch screen not work terrible never buy seller
4,Sony,0.0,"SONY XPERIA Z3 D6603 LTE 16GB 5.2"" GSM Unlocke...",1,0,good afternoon annoyed cell alone run two mont...

In [6]:
def add_reviews_bw():
    for i in range(1,163):
        print i
        df_test = pd.read_csv( 'data_bagofwords/%d.csv' %i )
        for j in range(5000):
            df.Reviews_bw[j+5000*(i-1)] = df_test.Reviews[j]

In [ ]:
add_reviews_bw()

1

In [6]:
from nltk.corpus import stopwords # Import the stop word list
import re
stopwords =  stopwords.words("english")
stopwds = set(stopwords)
stopwds.discard('no')
stopwds.discard('not')
stopwds.discard('nor')

def clean_text(text):
    text = text.decode('utf8').lower()
    if '1080' in text:
        words = ['1080']
    else:
        words = []
    text_letter_only = re.sub("[^a-zA-Z]", " ", text)
    words.extend( text_letter_only.split() )
    meaningful_words = [w for w in words if not w in stopwds]
    return " ".join(meaningful_words)

In [7]:
len(df.index)

2973463

In [10]:
df[:1]

,Brand,Price,Product_name,Rating,Review Votes,Reviews,Reviews_bw
0,Sony,599.99,Sony Xperia V LT25i Unlocked Phone 13MP Camera...,4,26,"I got one of these just for $#!*$ & giggles, n...",

In [ ]:
for i in df.index:
    df.Reviews_bw[i] = clean_text(df.Reviews[i])
    if i>0 and i%5000==0:
        print '%d in progress...' %i
        df[i-5000:i].to_csv( './data_bagofwords/%d.csv' %(i/5000), encoding = 'utf-8' )
df[(i/5000)*5000:i+1].to_csv( './data_bagofwords/%d.csv' %(i/5000), encoding = 'utf-8' )

5000 in progress...
10000 in progress...
15000 in progress...